<!DOCTYPE HTML>
<html  lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Employee Directory</title>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
   
</head>

<body>
<div class="container">

<h3>Wortschatz</h3>
<hr>

    <!-- Add a button -->
   <!--    
 <a th:href="@{/employees/showFormForAdd}"
 	class="btn btn-primary btn-sm mb-3">
 	Add Employee
 </a>  
  -->
<style type="text/css">

	.trash {	
	min-width:150px;
	border:1px solid black;
	background:gray;
	height:50px;
	}
	
	.app .column {	
	min-width:150px;
	margin:10px;
	border:1px solid black;
	background:gray;
	}
	
	.app .wort_1 {
	padding:10px;
	background:red;
	}
	
	.app .wort_2 {
	padding:10px;
	background:yellow;
	}
	
	.app .wort_3 {
	padding:10px;
	background:green;
	}
	
	.btn{
	width:70px;
	color:white;
	}
	
	a {
	padding:8px!important;
	text-align:center;
	}
	
	.btn:hover {
    color: #fff;
	}
	
</style>

<div class="row">
	<div class="col-4">
	 <a th:href="@{/Woerterbuch/List}"
	 	class="btn btn-primary btn-sm mb-3">
	 	Alles
	 </a> 
	  <a th:href="@{/Woerterbuch/rot}"
	 	class="btn btn-danger btn-sm mb-3">
	 	rot
	 </a>
	   <a th:href="@{/Woerterbuch/gelb}"
	 	class="btn btn-warning btn-sm mb-3">
	 	gelb
	 </a>
	   <a th:href="@{/Woerterbuch/grun}"
	 	class="btn btn-success btn-sm mb-3">
	 	grün
	 </a>
	 </div>
	  <div class="col-1">
	  
	  <div class="trash" ondrop="dropdelete(event)" ondragover="allowDropDelEvent(event)"  th:data-id="Delete" ></div>
	  
	  </div>
 </div>
 

		<div class="app">
			<div class="header"></div>
			<div class="body">
				<div class="row" th:each="tempWorte : ${Worte}" th:id="'row-'+${tempWorte.id}">
						<div th:each="i : ${#numbers.sequence( 1, 3)}" class="col-2 column" ondrop="drop(event)" ondragover="allowDropEvent(event)"  th:data-id="${tempWorte.id}"  th:data-status="${i}">
						<div th:if="${tempWorte.status == i}" th:class="'wort_'+${i}" draggable="true" ondragstart="drag(event)" th:id="'wort-'+${tempWorte.id}" th:data-id="${tempWorte.id}">
							<span th:text="${tempWorte.Wort_DE}" /><br>
							<span th:text="${tempWorte.Wort_SK}" /><br>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

<script>


function Get(url,params){
	
	var http = new XMLHttpRequest();
	http.open('POST', url, true);

	//Send the proper header information along with the request
	http.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');

	http.onreadystatechange = function() {//Call a function when the state changes.
	    if(http.readyState == 4 && http.status == 200) {
	        //alert(http.responseText);
	    }
	}
	http.send(params);
	
}


var el = null;
function drag(ev) {
  el=ev.target;
}

function allowDropEvent(ev) {
	
	if(el.dataset.id == ev.target.dataset.id){	
		ev.preventDefault();
	}	
}

function drop(ev) {
	  
  ev.preventDefault();
  ev.target.appendChild(el);
  Get("/Woerterbuch/save","id="+ el.dataset.id +"+&status="+ ev.target.dataset.status);
  
  if(ev.target.dataset.status==1){
	  document.getElementById("wort-"+el.dataset.id).style.backgroundColor  = "red";
  }
  else if (ev.target.dataset.status==2){  
	  document.getElementById("wort-"+el.dataset.id).style.backgroundColor  = "yellow";
  }
  else{
	  document.getElementById("wort-"+el.dataset.id).style.backgroundColor  = "green";
  }

}

 // Delete Wort
function allowDropDelEvent(ev){
	 
	ev.preventDefault();
	 
 }
 
function dropdelete(ev) {
	
	  var x = confirm("Are you sure you want to delete?");
	  
	  if (x){
		  ev.preventDefault();
		  Get("/Woerterbuch/delete","id="+ el.dataset.id);	
			//Get the child element node
		 	 var child =  document.getElementById("row-"+el.dataset.id);

		 	 // Remove the child element from the document
		  	child.parentNode.removeChild(child);
	  }
}
</script>



</body>
</html>