<!DOCTYPE HTML>
<html  lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title th:text="#{wortschatz}"></title>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
   
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	
	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<link  href="../static/css/demo.css" th:href="@{/css/demo.css}" rel="stylesheet"  />
	
	<script src="../static/js/demo.js" th:src="@{/js/demo.js}" ></script>
				
</head>

<body>
  
<input type="hidden" th:value="${messageStatus}" id="statusvaluergg" name="Searchtyp" />
<div class="d-none d-md-block d-lg-block extraspace"></div>
<div class="container">
 <div class="row">
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="#" th:text="#{wortschatz}"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>   
      <div class="collapse navbar-collapse col col-3.5 sm-3.5 lg-6" id="navbarCollapse">
         <form class="form-inline col col-3.5 sm-3.5 lg-6"  action="" onsubmit="return validateSendFormRYG();" >
         <input class="form-control form-search-input col col-3.5 sm-3.5 lg-6" type="text" th:placeholder="#{suchen}" aria-label="Search" id="Wort_DE_search_ryg">
         <input type="button" onsubmit="return false;" onclick="return formSubmitsearchRYG();" th:value="#{suchen}" class="btn btn-info sm-2 form-search-input ">
        </form>   
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
           <a th:href="@{/Woerterbuch/List}"class="btn btn-primary btn-sm mb-3 " th:text="#{alles}"></a>
           <a th:href="@{/Woerterbuch/rot}" class="btn btn-danger btn-sm mb-3 " th:text="#{rot}"></a>
		   <a th:href="@{/Woerterbuch/gelb}" class="btn btn-warning btn-sm mb-3 " th:text="#{gelb}"></a>
		   <a th:href="@{/Woerterbuch/grun}" class="btn btn-success btn-sm mb-3 " th:text="#{grun}"></a>
           <a class="btn btn-danger btn-sm mb-3 loeschenbtn" ondrop="dropdelete(event)" ondragover="allowDropDelEvent(event)"  th:data-id="Delete" onclick="dropdelete(event)" th:text="#{loeschen}"></a>
           </li>
        </ul> 
        </div>     
    </nav>
 </div>
 </div>
    
<main role="main" class="container">
<div class="container">
<h3 th:text="#{wortschatz}"></h3>
<hr>

<div class="row">
	<div class="col col-3.5 sm-3.5">
	 <a th:href="@{/Woerterbuch/List}" th:text="#{alles}"
	 	class="btn btn-primary btn-sm mb-3">
	 </a> 
	  <a th:href="@{/Woerterbuch/rot}" th:text="#{rot}"
	 	class="btn btn-danger btn-sm mb-3">
	 </a>
	   <a th:href="@{/Woerterbuch/gelb}" th:text="#{gelb}"
	 	class="btn btn-warning btn-sm mb-3">
	 </a>
	   <a th:href="@{/Woerterbuch/grun}" th:text="#{grun}"
	 	class="btn btn-success btn-sm mb-3">
	 </a>
	  <a class="btn btn-danger btn-sm mb-3 loeschenbtn" ondrop="dropdelete(event)" ondragover="allowDropDelEvent(event)"  th:data-id="Delete" onclick="dropdelete(event)" th:text="#{loeschen}"></a>
	 </div> 
 </div>
 </div>
 
 <div class="container">
		<div class="app">
			<div class="header"></div>
			<div class="body" id="body">
				<div class="row" th:each="tempWorte : ${Worte}" th:id="'row-'+${tempWorte.id}">
						<div th:each="i : ${#numbers.sequence( 1, 3)}" class="col col-3.5 sm-3.5 lg-1 column" onclick="columnClick(event)" ondrop="drop(event)" ondragover="allowDropEvent(event)"  th:data-id="${tempWorte.id}"  th:data-status="${i}">
						<div th:if="${tempWorte.status == i}" th:class="'wort wort_'+${i}" draggable="true" onclick="wortClick(event)" ondragstart="drag(event)" th:id="'wort-'+${tempWorte.id}" th:data-id="${tempWorte.id}">
							<span th:text="${tempWorte.Wort_DE}" th:id="'wortDE-'+${tempWorte.id}"/><br>
							<span th:text="${tempWorte.Wort_SK}" th:class="${tempWorte.status==3 || tempWorte.status==2} ? 'hidden' : ''" th:id="'wortSK-'+${tempWorte.id}" /><br>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</main>
</body>
</html>